body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.page-container {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.login-container {
    padding: 40px;
    text-align: center;
}

.login-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

button.login-button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.login-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}
